/*Colors*/

:root {
 --main-bg-color: #f9f6f7;
 --second-bg-color: #FFFFFF;
 --main-color: #ffe8d6;
 --signal-color: #ff971d;
 --signal-shaded: #B26914;
 --text-color: #191919;
 --second-text-color: #5E5E5E;
}

.App {
  text-align: center;
  padding: 2% 5%;
  font-size: 14px;
 
}

.App * {
  box-sizing: border-box;
}

a.linkified {
  color: var(--signal-color);
}

a.linkified:visited {
  color: var(--main-color);
}

h1 {
  color: var(--text-color);
  font-size: 40px;
  text-align: center !important;
  margin-bottom: 0;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"], input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  background: var(--second-bg-color);
  color: var(--text-color);
}

.number {
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.label-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.city {
  width: 260px;
  margin-top: 0;
}

.CitySearch {
  display: flex;
  flex-direction: column;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: var(--second-bg-color) ;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.suggestions > li:hover {
  background-color: var(--main-color);
}

.recharts-responsive-container {
max-width: 1000px;
margin: 0 auto;

}

.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.EventList {  
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
}

.Event {
  padding: 10px 10px 20px;
  margin-bottom: 10px;
  text-align: left;
  border: none;
  border-radius: 4px;
  position: relative;
  background: var(--second-bg-color);
  color: var(--text-color);
 
}

.showDetailsButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: var(--signal-color);
  color: var(--second-bg-color);
}

.showLessButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: var(--signal-color);
  color: var(--second-bg-color);
}

.showDetailsButton:hover, 
.showLessButton:hover {
  background: var(--main-color);
  color: var(--text-color)
}

.time-and-date {
  display: flex;
  flex-direction: row; 

}

.event-time {
  color: var(--signal-color);
  font-weight: bold;
}

.event-name {
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.group-name {
  color: var(--second-text-color);
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase; 
}

.going, .visibility {
  font-style: italic;
}

.details {
  overflow-x: hidden;
  margin-top: 10px;
}

.NumberOfEvents {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 10px auto;
}

label {
  margin-bottom: 10px;
  color: var(--text-color);
}

.about {
  color: var(--second-text-color);
}

.about a {
  color: var(--signal-shaded);
}

.about a:hover {
  color: var(--signal-color);
}


