/*Colors*/

:root {
  --main-bg-color: #121b74;
  --second-bg-color: #2d248a;
  --main-color: #614ad3;
  --signal-color: #e42c64;
  --text-color: white;
}

.App {
  text-align: center;
  padding: 2% 5%;
  font-size: 14px;
 
}

.App * {
  box-sizing: border-box;
}

a.linkified {
  color: var(--signal-color);
}

a.linkified:visited {
  color: var(--main-color);
}

h1 {
  color: var(--signal-color);
  font-size: 40px;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"], input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  background: var(--second-bg-color);
  color: var(--text-color);
}

.number {
  width: 80px;
}



.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: var(--text-color) ;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.suggestions > li:hover {
  background-color: var(--signal-color);
}

.Event {
  padding: 10px 10px 20px;
  margin-bottom: 10px;
  text-align: left;
  border: none;
  border-radius: 4px;
  position: relative;
  background: var(--second-bg-color);
  color: var(--text-color);
 
}

.showDetailsButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: var(--main-color);
  color: var(--text-color);
}

.showLessButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: var(--main-color);
  color: var(--text-color);
}

.showDetailsButton:hover, 
.showLessButton:hover {
  background: var(--second-bg-color);
  color: var(--text-color)
}

.time-and-date {
  display: flex;
  flex-direction: row;
  
  

}
.event-name {
  font-size: 25px;
  font-weight: 600;
  color: var(--signal-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

.going, .visibility {
  font-style: italic;
}

.details {
  overflow-x: hidden;
  margin-top: 10px;
}



.NumberOfEvents {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 20px auto;
}

label {
  margin-bottom: 10px;
  color: var(--text-color);
}


